body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-btn-primary{
  background: #3db39e!important;
  border-color: #3db39e!important;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background: #3db39e!important;
  border-color: #3db39e!important;
}
